body{
	background-color: orange; 
	}

.Imagenes
{
	width: 80px;
	height: 80px;
}
table {
	border: black 5px solid;
	background:red; 
  margin: 15px;
  padding: 15px;
}
h1 {
	font-style: italic;
	font-size:350%;
}
p {
	font-size:150%;	
}
h4 {
	font-size:150%;		
}